name: CI for Assignment service build and docker publish

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  # STAGE 1: Build the Maven JAR
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml

      # Upload the JAR so the next job can use it
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact
          path: target/*.jar
          retention-days: 5

  # STAGE 2: Build and Publish Docker Image
  publish:
    needs: build  # Only runs if build succeeds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Download the JAR from the previous job
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: app-artifact
          path: target/

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/assignment:latest
            ${{ secrets.DOCKER_USERNAME }}/assignment:build-${{ github.run_number }}